$grid-gutter-width: 20px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
    font-size: medium;
    margin-top: 120px;
}
.mgb {
    margin-bottom: 20px;
}

ol.rnk {
    list-style-type:none;
    line-height: 1.3;
    padding:0;
}
ol.rnk>li {
    border-top: 1px solid #e1e1e1;
}
ol.rnk>li>a {
    display: block;
    padding: 6px 0;
}
ol.rnk .rnk-num {
    display:block;
    float: left;
    width:35px;
    text-align:center;
    font-family:Arial,Helvetica,sans-serif;
    font-size:125%;
    font-weight:bold;
    color:#333;
    font-style:italic;
}
ol.rnk .rnk-thumb {
    padding:0 8px;
    display:block;
    float:left;
}
ol.rnk .rnk-body {
    margin-left: 40px;
    display:block;
    vertical-align:top;
    font-size:90%;
    min-height: 60px;
}
ol.rnk .rnk-date {
    padding-top: 2px;
    display:table-cell;
    color: #666;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 0.67em 0;
    font-size: 24px;
}
footer {
    margin-top: 20px;
}
ul.nav a {
    font-size:16px;
}
.media {
    margin-top: 0;
}
.navbar-collapse .navbar-form {
    border: none;
    margin: 0;
    padding: 8px 0px;
}
.container>.navbar-header>a.navbar-brand,
.container-fluid>.navbar-header>a.navbar-brand {
    padding: 0;
}
@media (max-width: $screen-xs-max) {
    body {
        margin-top: 70px;
    }
    .navbar-collapse .navbar-form {
        padding: 8px 10px;
    }
    /*
    .container>.navbar-header>a.navbar-brand,
    .container-fluid>.navbar-header>a.navbar-brand {
        margin-left: 10px;
    }
    .navbar-toggle {
        margin-right: 10px;
    }
   */
}